a:-webkit-any-link {
	text-decoration: none;
}
a:any-link {
	text-decoration: none;
}
body.dark {
	background-color: #141414;
}
a#atlwdg-trigger {
	z-index: 999;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
